body{
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}
.button-order-service:hover,
.button-order-service:focus{
    background-color: #404BBF;
}
.button-order-service{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px;
    border-radius: 4px;
    min-width: 169px;
        padding: 16px 32px;
        cursor: pointer;
        background: #4D5AE5;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}
ul,ol{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.main-nav{
    display: flex;
    align-items: center;
    
}
.menu{
    display: flex;
    gap: 40px;
}
.list-contacts{
    display: flex;
    gap: 40px;
}
.top-header{
    border-bottom: 1px solid #E7E9FC;
}
.logo-item{
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo{
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}
.menu-link{
    display: block;
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
}
.contacts{
    font-style: normal;
}
.link-contacts{
    display: block;
color: #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;
}
.menu-link:hover,.menu-link:focus {
    color: #404BBF;
}
.link-contacts:hover,.link-contacts:focus{
    color: #404BBF
}
.section-one{
    background-color: #2E2F42;
    padding-bottom: 188px;
    padding-top: 188px;
}
.title-one{
    padding-top: 188px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    max-width: 496px;
    color: #FFF;
    text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
}
.section-two{
    background-color: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.list{
    display: flex;
    gap: 24px;
}
.list-item{
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.services{
    margin-bottom: 8px;
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.services-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-three{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list{
    display: flex;
    gap: 24px;
}
.title-three{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    color: #2E2F42;
        text-align: center;
        text-transform: capitalize;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
}
.team-list-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}
.worker-box{
    padding: 32px 0;
    text-align: center;
}
.worker{
    padding-top: 32px;
    margin-bottom: 8px;
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.worker-profession{
    padding-bottom: 32px;
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-four{
    background-color: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.title-four{
    margin-bottom: 72px;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
}
.project-box{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.project{
    padding-top: 32px;
    margin-bottom: 8px;
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.project-name{
    padding-bottom: 32px;
color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.lower-nav{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;
}
.logo{
    display: block;
}
.lower-logo{
    display: inline-block;
    margin-bottom: 16px;
}
.lower-nav-text{
    width: 264px;
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.lower-logo-item{
        color: #F4F4FD;
        font-family: 'Raleway', sans-serif; 
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}